<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">
<style>
	.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
	.image1{
		height: 200px;
	}
</style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ICON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/movies/trending">Trending<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies">Most Popular<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/toprated">Top Rated<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movies/upcoming">Upcoming<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form action="/movies/search" method="POST" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"name="movies" type="search" placeholder="Search" aria-label="Search" size=40>
      <button class="btn btn-outline-success my-2 my-sm-0 button" type="submit">Search</button>
    </form>
    <ul class="navbar-nav " align="right">
     <% if(!currentUser){ %>
	<li class="nav-item mr-auto">
        <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item mr-auto">
        <a class="nav-link" href="/register">Sign Up<span class="sr-only">(current)</span></a>
      </li>
	   <% } else { %>
		 <li class="nav-item mr-auto">
        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
      </li> 
		<li class="nav-item mr-auto">
        <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
      </li>
		 <% } %>
		
    </ul>
  </div>
</nav>
	<h1 align="center">
		Page No. <%= parsedData.page %>
	</h1>
<div class=".container-fluid">

		<div class="row">
		<% for(var i=0;i<12;i++){ %>
		<% var result %>

		<% result=parsedData.results[i] %>
		<% images="http://image.tmdb.org/t/p/w500"+result.poster_path %>
		<div class=" col-lg-3 offset-lg-1 col-md-4 offset-lg-1 col-sm-6">
			<div class="thumbnail">
				<img class="img-responsive image1" src=<%= images %>>
			</div>
			<div class="caption">
				<h4><%= result.title %></h4>
				<h6>
					<%=result.release_date%>
				</h6>
				<div class="text">
					<%= result.overview %>
				</div>
				<form action="/movies/search/<%= result.id %>" method="GET" class="inline" >
				<button class="btn btn-outline-success my-2 my-sm-0 button" type="link" align ="right">
					More Info..
				</button>
				</form>
			</div>
		</div>
		<% } %>
		</div>


	
</div>

<br>
	<div align="center" >
	 <form action="/movies/upcoming/next" method="GET" class="inline" >
 <button type="submit" class="btn btn-outline-success my-2 my-sm-0 button" > NEXT</button>
 </form>
	<form action="/movies/upcoming/previous" method="GET" class="inline" >
		<button class="btn btn-outline-success my-2 my-sm-0 button" type="submit" align="center">
	PREVIOUS
	</button>
		</form>
	</div>

<%- include ("partials/footer") %>

